@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Sans:100,300,400');

header{
    text-align: center;
}
h1{
    font-family: 'Kaushan Script', cursive;
    color: #fff;
    font-size: 4em;
    text-align: center;
}

li{
    list-style: none;
    position:relative;
    color:rgb(211, 171, 171);
}
li:hover{
    background: #fafafa;
}

.modal-body{
    width: 50%;
    height:50%;
}

body{
    background: #23074d;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #cc5333, #23074d);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #cc5333, #23074d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    widows: 800px;
    height: 800px;
    background-attachment: fixed;
}

#botonIniciar{
    float:right;
    background: salmon;
    background-attachment: fixed;
}

#botoncito {
  font-family: "Fira Sans", sans-serif;
  background-image: -webkit-gradient(linear, left top, right top, from(#f05a28), color-stop(#ec008c), to(#f05a28));
  background-image: linear-gradient(to right, #f05a28, #ec008c, #f05a28);
  background-size: 300% 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  text-transform: uppercase;
  display: inline-block;
  font-size: 1rem;
  opacity: 1;
  padding: 16px 32px;
  font-weight: 700;
  line-height: 1.1;
  white-space: nowrap;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2px;
}
#botoncito:hover, #botoncito:active {
  background-position: -50% 0;
}
#ulLista{
    margin-top: 2em;
}

#ulLista li{
  min-height: 40px;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .2); 
  position: relative;
  z-index: 1;
  background: inherit;
  overflow: hidden;
  margin: 5px auto;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1); 
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1); 
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1);
    transition: all 200ms ease-in;
    transform: scale(1);   
}
#ulLista li:before {
  content: "";
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .35);
  filter: blur(10px);
  margin: -20px;
}

#ulLista li:hover{
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 200ms ease-in;
    -ms-transform: scale(1.1);   
    -moz-transition: all 200ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 200ms ease-in;
    transform: scale(1.1);
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
}

.text{
    font-family: "Fira Sans", sans-serif;
    color: #fafafa;
    font-size: 1.4em;
    padding: 5px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgb(0 0 0 / 0.7);
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    /* border-radius: .3rem; */
    outline: 0;
    color: #fff;
}